.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}
.icons-header {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.icon-header-group {
  display: flex;
  gap: 10px;
}
.responsive {
  display: flex;
  justify-content: space-between;
  gap: 250px;
}
.icon-header {
  align-items: center;
  background-color: #ffffff76;
  border-radius: 50%;
  color: #132f5b;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}
.location-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.search {
  display: flex;
  align-items: center;
}
.search-input {
  border: 1px solid #c1dcdc;
  background-color: #c1dcdc;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 18px;
  height: 46px;
  width: 492px;
  padding-left: 40px;
}
.search-icon {
  position: absolute;
  padding: 10px;
}
input::placeholder {
  color: white;
}
.header-group-three {
  display: flex;
  align-items: center;
  gap: 5px;
}
.profile {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
@media (max-width: 1120px) {
  .responsive {
    gap: 120px;
  }
}

@media (max-width: 1000px) {
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .responsive {
    gap: 10px;
  }
}
@media (max-width: 740px) {
  .search-input {
    width: 300px;
  }
}
@media (max-width: 535px) {
  .search-input {
    width: 200px;
  }
}
@media (max-width: 470px) {
  .responsive {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .search-input {
    width: 290px;
  }
}
