.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.weather-city-state {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.weather-city {
  font-size: 50px;
  font-weight: bold;
  color: #132f5b;
}
.weather-status {
  font-size: 18px;
  color: rgb(183, 181, 177);
}
.weather-degree {
  font-size: 60px;
  font-weight: normal;
  color: #132f5b;
}
.pm-weather {
  display: flex;
  flex-direction: column;
}
.pmIcon-container {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #132f5b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pm-icon {
  width: 42px;
  height: 42px;
  display: flex;
  padding-top: 5px;
}
.clock {
  font-size: 15px;
  font-weight: bold;
  color: #7fdff4;
}
.degree {
  font-size: 20px;
  font-weight: bold;
  color: #7fdff4;
}
.pm-weather {
  width: 60px;
  height: 146px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #0b698b;
}
.weather-other-data {
  margin: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}
.weather-other-data-wrapper {
  width: 103px;
  height: 40px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #7fdff4, #0396a6);
  border-radius: 20px;
}
.weather-other-data-wrapper span {
  font-size: 10px;
  font-weight: normal;
}
